.works {
    padding: 65px 0 145px;
    @include media($w768) {
        padding: 30px 0;
    }

    &__images {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        @include media(1115px) {
            justify-content: space-around;
        }
    }

    &__image {
        max-width: 360px;
        display: block;
        overflow: hidden;
        position: relative;
        margin: 25px 0;
        border-radius: 10px;
        width: 100%;
        
        &::before {
            content: "";
            padding-top: 75%;
            display: block;
        }
        
        @include hover {
            box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
        }
        @include media(776px) {
            margin: 8px 0;
        }

        & img {
            height: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            @include hover {
                transform: translate(-50%, -50%) scale(1.1);
            }

        }
    }
}

.section {
    background-color: $white;
    &--lg {
        padding: 90px 0 180px;
        @include media (768px) {
            padding: 30px 0;
        }
    }
    
    &__title {
        @include media (320px) {
            font-size: 4rem;
        }
    }
    .gallery-wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .gallery {
            position: relative;
            width: calc(33% - 2 * 15px);
            height: 280px;
            margin: 15px;
            padding: 15px;
            overflow: hidden;
            background-color: #f4f4f4;
            border-radius: 15px;
            @include media (768px) {
               width: calc(50% - 2 * 15px);
            }
            @include media (320px) {
                width: 100%;
             }
            &__img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }   
}