.expert {
  background-color: $blue;
  text-align: center;
  color: #5a5a5a;
  padding: 90px 0 100px;
  @media screen and (max-width: 992px) {
    padding: 45px 0 50px;
  }
  @media screen and (max-width: 576px) {
    padding: 20px 0;
  }
  &__title {
    margin: 0;
  }
  &__blocks {
    display: flex;
    flex-wrap: wrap;
    @media screen and (max-width: 607px) {
      justify-content: center;
    }
  }
  &__block {
    width: calc(33% - 20px * 2);
    min-width: 240px;
    margin: 100px 20px 0;
    @media screen and (max-width: 992px) {
      width: calc(50% - 20px * 2);
      margin: 50px 20px 0;
    }
    @media screen and (max-width: 607px) {
      width: 90%;
      margin: 20px 0;
    }
  }
  &__icon {
    border-radius: 50%;
    margin: 0 auto;
    width: 150px;
    height: 150px;
    display: flex;
    border: $b-width solid #bdc6cf;
    justify-content: center;
    align-items: center;
  }
  &__svg {
    fill: $title-color;
  }
  &__text {
    @media screen and (max-width: 768px) {
      font-size: 14px;
    }
    @media screen and (max-width: 576px) {
      line-height: 1.6;
    }
  }
}
