@import 'normalize';
@import 'mixins';
@import 'variables';

@import 'header';
@import 'about-us';
@import '_about-us-mironenko';
@import 'expert-in';
@import 'latest-works';
@import 'clients';
@import 'footer';
@import 'nav';
@import 'modal';
@import 'btns';

* {
    box-sizing: border-box;
}

a, button {
    transition: all .3s ease-in-out;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    font: 400 1.6rem/2 $text-ff;
}

h1 {
    font-size: 5rem;
    text-transform: uppercase;
    margin: 35px 0;
    line-height: 1.2;
}
@media screen and (max-width: 992px)
{
    h1
    {
        font-size: 4rem;
        margin: 30px 0;
    }
}
@media screen and (max-width: 576px)
{
    h1
    {
        font-size: 3rem;
        margin: 25px 0;
    }
}
@media screen and (max-width: 320px)
{
    h1
    {
        font-size: 2.4rem;
        margin: 20px 0;
    }
}
h2 {
    font-size: 5rem;
    font-weight: 300;
    text-align: center;
<<<<<<< HEAD
=======
    color: $title-color;
    margin: 0 0 60px 0;
>>>>>>> 302da37f6cb90c8fc95bd2a3f39f64ba88560f5c
}

h3 {
    font-size: 2.4rem;
    text-transform: uppercase;
}

.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}